.impowerBox .qrcode {width: 200px;}
.impowerBox .title {display: none;}
.impowerBox .info {width: 200px;}
.status_icon {display:none}
.impowerBox .status {text-align: center;} 

.impowerBox .status.status_browser{
  position:relative;
}
.impowerBox .status.status_browser:before{
  background:#fff;
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  content:"微信扫一扫，登录或者注册<br/>"36zhen"";
  font-size:12px;
  color:#666;
}
